spring:
  # JPA 설정
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

  # Flyway 설정 추가
  flyway:
    enabled: true
    baseline-on-migrate: true
    locations: classpath:db/migration

# 로깅 설정
logging:
  level:
    root: WARN
    com.personalaccount: INFO